<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board</title>
</head>

<body>
    <h1>Messages</h1>
    <a href="/new">
        <button>New Message</button>
    </a>
    <ul>
        <% messages.forEach((message)=> { %>
            <li>
                Name:
                <b>
                    <%= message.username %>
                </b>
                <br>
                Message: <%= message.message%>
                    <br>
                    Time: <%= message.time%>
            </li>
            <% }) %>
    </ul>
</body>

</html>